<section class="row portfolio-section" id="education">
    <article class="sec-header">
        <h3><i class="fa fa-graduation-cap"></i> <span>Education</span> </h3>
        <hr>
    </article>
    <article>
      <div class="activity-elements">
        
      
        <div class="card-container">
          <div class="card">
            <div class="front">
              <div>
                <h2><i class="fa fa-graduation-cap"></i></h2>
                <h3>MSc</h3>
                <h4>Dublin City University, Dublin, Ireland</h4>
              </div>
            </div>
            <div class="back">
                <div>
                  <h2><i class="fa fa-graduation-cap"></i></h2>
                  <h3>GRADE</h3>
                  <h4><b>2:1</b></h4>
                </div>
              </div>
          </div>
          <div class="card">
              <div class="front">
              <div>
                <h2><i class="fa fa-graduation-cap"></i></h2>
                <h3>B-TECH</h3>
                <h4>Vignan's Institute of Information Technology, AP, India</h4>
              </div>
              </div>
              <div class="back">
                <div>
                  <h2><i class="fa fa-graduation-cap"></i></h2>
                  <h3>AGGREGATE</h3>
                  <h4><b>69.02 %</b></h4>
                </div>
                </div>
            </div>
        </div>
      </div>    
    </article>
</section>

<section class="row">
    <div class="hidden-xs fill-screen fixed-attachment" [style.height.px]="myInnerHeight" style="background-image: url(assets/images/education.jpg)"></div>
</section>
