<div style="text-align:center">
    <p class="small-text">&copy; 2020 Copyright Vivek Arya </p>
  <div class="social">
    <a href="https://www.linkedin.com/in/vivek-arya-dcu"> <i class="fa fa-linkedin"></i> </a>
    <a href="https://github.com/vivekaryaREPO/"> <i class="fa fa-github"></i></a>
    <a href="https://www.hackerrank.com/vivekarya221b"> <i class="fa fa-hackerrank fa-lg"><b>h</b></i></a>
    <a href="https://www.instagram.com/whovivek_arya/"> <i class="fa fa-instagram"></i> </a>
  </div>
</div>