<section class="row portfolio-section" id="about" (scroll)="onScroll($event)">
    <article class="sec-header">
        <h3><i class="fa fa-user"></i> <span>About Me</span></h3>
        <hr>
    </article>
    <article class="col-md-6">
        <p>I am a full-stack software developer, with 1.2 years of professional experience in application development.
           I am currently on stamp 1G visa in Ireland and I am seeking a position in a reputed organization where I can perform at my best with my technical abilities,
           tireless effort, hard work, learn new technologies, enhance, and share knowledge for the benefit of the organization.
        </p>
    </article>
    <article class="col-md-6 table-custom">
      <dl class="dl-horizontal">
        <dt>Email</dt>
        <dd>aryanss.orisiss@gmail.com</dd>
        <dt>Address</dt>
        <dd>County Dublin <br> COUNTRY - Ireland</dd>
        <dt>Mobile</dt>
        <dd>+353 89946****</dd>
      </dl>
      <div class="social">
        <a href="https://www.linkedin.com/in/vivek-arya-dcu"> <i class="fa fa-linkedin"></i> </a>
        <a href="https://github.com/vivekaryaREPO/"> <i class="fa fa-github"></i> </a>
        <a href="https://www.hackerrank.com/vivekarya221b"> <i class="fa fa-hackerrank fa-lg"><b>h</b></i> </a>
        <a href="https://www.instagram.com/whovivek_arya/"> <i class="fa fa-instagram"></i> </a>
      </div>
    </article>
</section>
<section class="row">
  <div class="hidden-xs fill-screen fixed-attachment" [style.height.px]="myInnerHeight" style="background-image: url(assets/images/About-Me.jpg)"></div>
</section>