<section class="text-banner portfolio-section" id="skills">
    <article class="sec-header">
      <h3><i class="fa fa-cogs"></i> <span>Skills</span></h3>
      <hr>
    </article>    

    <article class="row" id="skills-progress">
      <div class="progress col-xs-8 col-md-offset-2 col-md-8 col-md-offset-2 col-lg-offset-4 col-lg-4 col-lg-offset-4 ">
          <div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" [style.width]="intermediate + '%'">
            <span>Angular Framework</span>
            <span class="pull-right skill-level">Intermediate</span>
          </div>
      </div>

      <div class="progress col-xs-8 col-md-offset-2 col-md-8 col-md-offset-2 col-lg-offset-4 col-lg-4 col-lg-offset-4 ">
          <div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" [style.width]="intermediate + '%'">
            <span>Java</span>
            <span class="pull-right skill-level">Intermediate</span>
          </div>
      </div>

      <div class="progress col-xs-8 col-md-offset-2 col-md-8 col-md-offset-2 col-lg-offset-4 col-lg-4 col-lg-offset-4 ">
          <div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" [style.width]="intermediate + '%'">
            <span>Spring Framework, Spring Boot</span>
            <span class="pull-right skill-level">Intermediate</span>
          </div>
      </div>
      <div class="progress col-xs-8 col-md-offset-2 col-md-8 col-md-offset-2 col-lg-offset-4 col-lg-4 col-lg-offset-4 ">
          <div class="progress-bar" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" [style.width]="intermediate + '%'">
            <span>Hibernate, Spring Data JPA</span>
            <span class="pull-right skill-level">Intermediate</span>
          </div>
      </div>
      <div class="progress col-xs-8 col-md-offset-2 col-md-8 col-md-offset-2 col-lg-offset-4 col-lg-4 col-lg-offset-4">
          <div class="progress-bar" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" [style.width]="basics + '%'">
            <span>SQL</span>
            <span class="pull-right skill-level">Basics</span>
          </div>
      </div>
      <div class="progress col-xs-8 col-md-offset-2 col-md-8 col-md-offset-2 col-lg-offset-4 col-lg-4 col-lg-offset-4">
        <div class="progress-bar" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" [style.width]="basics + '%'">
          <span>HTML, CSS, BOOTSTRAP</span>
          <span class="pull-right skill-level">Basics</span>
        </div>
      </div>
      <div class="progress col-xs-8 col-md-offset-2 col-md-8 col-md-offset-2 col-lg-offset-4 col-lg-4 col-lg-offset-4">
        <div class="progress-bar" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" [style.width]="basics + '%'">
          <span>Javascript,Jquery,Ajax</span>
          <span class="pull-right skill-level">Basics</span>
        </div>
      </div>
      <div class="progress col-xs-8 col-md-offset-2 col-md-8 col-md-offset-2 col-lg-offset-4 col-lg-4 col-lg-offset-4 ">
        <div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" [style.width]="intermediate + '%'">
          <span>C# ASP.Net Web API Framework</span>
          <span class="pull-right skill-level">Intermediate</span>
        </div>
    </div>
      <div class="progress col-xs-8 col-md-offset-2 col-md-8 col-md-offset-2 col-lg-offset-4 col-lg-4 col-lg-offset-4">
        <div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" [style.width]="intermediate + '%'">
          <span>LINQ</span>
          <span class="pull-right skill-level">Intermediate</span>
        </div>
      </div>
      <div class="progress col-xs-8 col-md-offset-2 col-md-8 col-md-offset-2 col-lg-offset-4 col-lg-4 col-lg-offset-4">
        <div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" [style.width]="intermediate + '%'">
          <span>Entity Framework</span>
          <span class="pull-right skill-level">Intermediate</span>
        </div>
      </div>
      <div class="progress col-xs-8 col-md-offset-2 col-md-8 col-md-offset-2 col-lg-offset-4 col-lg-4 col-lg-offset-4">
        <div class="progress-bar" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" [style.width]="basics + '%'">
          <span>Docker</span>
          <span class="pull-right skill-level">Basics</span>
        </div>
      </div>
      <div class="progress col-xs-8 col-md-offset-2 col-md-8 col-md-offset-2 col-lg-offset-4 col-lg-4 col-lg-offset-4">
        <div class="progress-bar" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" [style.width]="basics + '%'">
          <span>CI / CD - Travis</span>
          <span class="pull-right skill-level">Basics</span>
        </div>
      </div>
      <div class="progress col-xs-8 col-md-offset-2 col-md-8 col-md-offset-2 col-lg-offset-4 col-lg-4 col-lg-offset-4">
        <div class="progress-bar" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" [style.width]="basics + '%'">
          <span>AWS- Elastic Beanstalk</span>
          <span class="pull-right skill-level">Basics</span>
        </div>
      </div>
    </article>  
    <hr>
    <article class="row skill-cards">
      <div class="col-md-6 col-sm-6">
        <div class="skill-tech">
          <h4><i class="fa fa-code"></i> Coding</h4>
          <p>Problem solving is my passion, and I love solving coding problems from hackerrank and other websites.</p>
        </div>
      </div>
      <div class="col-md-6 col-sm-6">
        <div class="skill-tech">
          <h4><i class="fa fa-globe"></i> Web Development</h4>
          <p>I love developing MVC applications, I have a good experience in developing MVC applications with technologies like Angular framework, Spring MVC, Spring Boot, Hibernate-Spring Data JPA, C# ASP.Net Web API framework, Entity framework,LINQ framework, SQL.</p>
        </div>
      </div>
      <div class="col-md-6 col-sm-6">
          <div class="skill-tech">
            <h4><i class="fa fa-database"></i> Database</h4>
            <p>I have a good knowledge of querying relational databases like SQL server, MySQL, Oracle etc. </p>
          </div>
        </div>
        <div class="col-md-6 col-sm-6">
          <div class="skill-tech">
            <h4><i class="fa fa-heart-o"></i> Design</h4>
            <p>I have recently started learning bootstrap, and I am working on this skill.</p>
          </div>
        </div>
        <div class="col-md-12 col-sm-12">
          <div class="skill-tech">
            <h4><i class="fa fa-check"></i> Testing</h4>
            <p>I have core knowledge in testing frameworks like Junit, Cucumber.</p>
          </div>
        </div>
        
    </article>  
  </section>  


  <section class="row" >
      <div class="hidden-xs fill-screen fixed-attachment" [style.height.px]="myInnerHeight" style="background-image: url(assets/images/skills.jpg)"></div>
    </section>