<section class="row portfolio-section" id="projects">
    <article class="sec-header">
        <h3><i class="fa fa-code"></i> <span>Projects</span></h3>
        <hr>
    </article>
    <article class="row my-work">
      <div class=" col-xs-8 col-md-offset-2 col-md-4 col-md-offset-2 col-lg-offset-4 col-lg-4 col-lg-offset-4  box box-slim">
        <h4>APLAT</h4>
        <p class="small-text">In my previous job I worked as a junior software engineer with a team that was developing a finance and banking domain
        web application for one of our Finland based clients. I worked as a full-stack developer like any other developer in the team, and I was responsible
       for end-to-end development of the assigned user story. I have worked on angular in a front end technology, and used ASP.Net WEB API framework in a backend
       technology. We used MS SQL server as a database server. We used Entity framework with LINQ framework as an ORM tool.
       </p>
      </div>
      <div class=" col-xs-8 col-md-offset-2 col-md-4 col-md-offset-2 col-lg-offset-4 col-lg-4 col-lg-offset-4 box box-slim">
        <h4>EVENT MANAGEMENT WEB APPLICATION</h4>
        <p class="small-text">In this project, I was assigned a responsiblity to develop a functionality in the existing time sheet portal of the company.
         In this project, I developed and integrated an event management functionality in the existing time sheet portal of the company, such that this event management functionality allows
         a user to invite others users to an event hosted by the invitee. The invitee could track the status of the invitation, like who accepted his event request and who denied it. 
         The invitee was even allowed to make further changes in the event time, venue, and update the guest with related Information. One of the other interesting features of this module was,
         on the event day every guest would get a reminder of the event he/she is due to attend.</p>
      </div>
      <div class=" col-xs-8 col-md-offset-2 col-md-4 col-md-offset-2 col-lg-offset-4 col-lg-4 col-lg-offset-4 box box-slim">
        <h4>To find the root cause of the inaccurate real time data of Dublin bus and transport for Ireland</h4>
        <p class="small-text">A considerable difference in the expected and actual arrival time of the busses can be noticed on the real time apps of Dublin bus and transport for Ireland. In this practicum, we aim to carry out a research to analyse the root cause of this inaccuracy.
         We used time series analysis with python programming language in this research.
        </p>
      </div>  
    </article>
    
</section>

<section class="row">
    <div class="hidden-xs fill-screen fixed-attachment" [style.height.px]="myInnerHeight" style="background-image: url(assets/images/projects.jpg)"></div>
  </section>