<section id="top" class="row">
    <div class="fill-screen" (window:load)="test($event)" [style.height.px]="myInnerHeight" style="background-image: url(assets/images/home-1.jpg)">
        <img class="title img-circle img-responsive " src="assets/images/circle.cropped.jpg">

            <div class="title first-name">Vivek <span class="last-name">Arya</span></div>
            <div class="visible-lg visible-md down-button down-icon">
                <a href="#about">
                    <i class="fa fa-chevron-circle-down" aria-hidden="true"></i>
                </a>
              </div>
    </div>
</section>
